h1{
   color: rgb(180, 100, 9);
}

.table{
    border: 3px solid rgb(53, 23, 23);
    margin: 0;
    text-align: center;
}

.table_Order{
    border: 3px solid rgb(49, 6, 6);
    background: rgb(88, 69, 4);
    margin: 0;
    text-align: center;
}
td{
    text-align: center;
    border: 2px solid black;
    padding: 2px;
}
.ordered{
    background-color: red;
    text-transform: uppercase;
    
}
.cooked{
    background-color:orange;
    text-transform: uppercase;
}

.served{
    background-color: yellow;
    text-transform: uppercase;
}

.paid{
    background-color: green;
    text-transform: uppercase;
}
body{
    background-color:rgb(233, 196, 127);
    color: white;
}
.button_color{
   background-color:green;
    
}
body{
    margin: 0px;
    text-align: center;
}